@model IEnumerable<JAMSv1._0.Models.Accomplishment>

@{
    ViewBag.Title = "Index";
}

 <div id="progressbar">
     <div id="progressbar" class="all-rounded" style="width: 75%"><span></span></div>
  </div>

<h2>Review</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccomplishmentDate1)
            <p>&nbsp;</p>
            <br />
            <textarea name="consider" id="consider" rows="1" cols="40"></textarea>
            <br />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accomplishment1)
            <p>&nbsp;</p>
            <br />
            <textarea name="consider" id="consider" rows="6" cols="70"></textarea>
            <br />
            <p>&nbsp;</p> <p>&nbsp;</p>
        </th>

        <table class="table">
            <th>
                @Html.DisplayNameFor(model => model.AccomplishmentDate2)
                <p>&nbsp;</p>
                <br />
                <textarea name="consider" id="consider" rows="1" cols="40"></textarea>
                <br />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accomplishment2)
                <p>&nbsp;</p>
                <br />
                <textarea name="consider" id="consider" rows="6" cols="70"></textarea>
                <br />
                <p>&nbsp;</p> <p>&nbsp;</p>
            </th>
            </table>

            <table class="table">
                <th>
                    @Html.DisplayNameFor(model => model.AccomplishmentDate3)
                    <p>&nbsp;</p>
                    <br />
                    <textarea name="consider" id="consider" rows="1" cols="40"></textarea>
                    <br />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accomplishment3)
                    <p>&nbsp;</p>
                    <br />
                    <textarea name="consider" id="consider" rows="6" cols="70"></textarea>
                    <br />
                    <p>&nbsp;</p> <p>&nbsp;</p>
                </th>
                </table>
                <th></th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccomplishmentDate1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accomplishment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccomplishmentDate2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accomplishment2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccomplishmentDate3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accomplishment3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccomplishmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccomplishmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccomplishmentID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Contine To Questions", "../Questions")
</p>
