@*@model IEnumerable<JAMSv1._0.Models.Accomplishment>*@
@model JAMSv1._0.Models.Accomplishment

@{
    ViewBag.Title = "Index";
}

 <div id="progressbar">
     <div id="progressbar" class="all-rounded" style="width: 60%"><span></span></div>
  </div>

<h2>Review</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccomplishmentDate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accomplishment1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccomplishmentDate2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accomplishment2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccomplishmentDate3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accomplishment3)
        </th>
        <th></th>
    </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.AccomplishmentDate1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Accomplishment1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.AccomplishmentDate2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Accomplishment2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.AccomplishmentDate3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Accomplishment3)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.AccomplishmentID }) |
                @Html.ActionLink("Details", "Details", new { id = Model.AccomplishmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.AccomplishmentID })
            </td>
        </tr>

</table>
<p><button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Questions")';return false;">Continue To Prescreening</button></p>
