<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <div class="sogeti">
        <p>
            <a href="http://US.sogeti.com" target="_blank">
                <img src="~/Logo_red_whiteBG_OK.GIF" alt="Sogeti" />
            </a>
        </p>
    </div>



    <meta name="description" content="Job Application Management Software" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JAMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Admin", "ListAllQuestions", "Questions")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="footer">
        @RenderBody()
        <margin-bottom: -25px !important;r />
    </div>

    <div class="footer2">
        <footer>
            <p>
                &copy; @DateTime.Now.Year - JAMS@@Copyright

            </p>   
            </footer>     
    </div>

    <div class="footer3"
         <footer>
             
             <a href="https://youtube.com/user/sogetiUSA" target="blank"> <img src="~/Youtube-White.png" hspace="5" align="right"></a>

             <a href="http://facebook.com/sogeti.usa" target="blank"> <img src="~/Facebook-White.png" hspace="2" align="right"></a>

             <a href="http://instagram.com/sogeti_usa" target="blank"> <img src="~/Instagram-White.png" hspace="2" align="right"></a>

             <a href="http://twitter.com/sogeti_usa" target="blank"> <img src="~/Twitter_White.png" hspace="5" align="right"></a>
         
         </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
