@model IEnumerable<JAMSv1._0.Models.Job>

@{
    ViewBag.Title = "Index";
}

<div id="progressbar">
    <div id="progressbar" class="all-rounded" style="width: 02%"><span></span></div>
</div>

<h2>Positions Available</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPostedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobStartDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPostedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobStartDate)
        </td>
        <td>
            @Html.ActionLink("Apply", "../Home/Upload", new { id=item.JobId }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })*@
        </td>
    </tr>
}

</table>
